{{page-title "Edit"}}
<div class="ui fixed inverted menu">

  <button class="ui yellow button" {{action "logout"}} > Logout </button>

  <p class="ui label">
    <img class="ui avatar image" src="https://img.icons8.com/pastel-glyph/344/person-male--v1.png%22%3E">
    {{model.employee.name}}
  </p>

  <div style="margin-right: 1%;margin-left: auto;" >
    <button class="ui green button" {{action "board"}}> Tableau de bord </button>
  </div>
</div>

<div class="test ui sizer vertical segment" style="margin-top: 70px; margin-left: 2%; margin-bottom: 2%;">
  <div class="ui huge header"> Sections {{@model.section.name}} </div>
</div>

<div class="ui huge aligned celled list" style="margin: 5% 10%">
  {{#each @model.products as |product|}}
      <div class="item">
        <div class="right floated content">
          <!-- <LinkTo @route="section.edit.edit" @model={{product.id}}> -->
            <div class="ui blue button" {{action "transtionto" product.id}}> Modifier
              <i class="edit alternate icon"></i>
            </div>
          <!-- </LinkTo> -->
          <div class="ui negative button" {{action "delete" product.id}}> Supprimer
            <i class="trash alternate icon"></i>
          </div>
        </div>
        <!-- <img class="ui avatar image" src="{{product.image}}"> -->
        <div class="content">
          {{product.name}}
        </div>
      </div>
      {{outlet product.id}}
    {{/each}}
</div>
{{outlet}}

        <!-- <LinkTo @route="section.edit" @model={{product.id}}>
          <div class="ui bottom attached  blue button">
            Voir la section
          </div>
        </LinkTo> -->
