{{page-title "Edit"}}
<!-- MENU BAR -->
<div class="ui fixed inverted menu">

  <button class="ui large yellow button" {{action "logout"}} > Logout </button>

  <p class="ui label">
    <img class="ui avatar image" src="https://img.icons8.com/pastel-glyph/344/person-male--v1.png%22%3E">
    {{model.employee.name}}
  </p>

  <div style="margin-right: 1%;margin-left: auto;" >
    <button class="ui green button" style="margin-right: 0%; margin-left: auto; "{{action "toSection" @model.section}} >
      <i class="icon arrow left"></i>
      Retour aux sections
    </button>
    <button class="ui green button" {{action "board"}}>
      <i class="icon home"></i>
      Tableau de bord
    </button>
  </div>
</div>

<!-- SECTION -->
<div class="ui sizer vertical segment" style="margin-top: 70px; margin-left: 2%; margin-bottom: 2%; margin-right: 2%;">
  <div class="ui huge header" style="margin: 0% 1%;" >
    Sections {{@model.section.name}}

    <button class="ui right floated negative large button" {{action "deleteSection" @model.section}} >
      <i class="icon add"></i>
      Supprimer la section
    </button>
  </div>
</div>

<div style="margin-right: 11%; margin-bottom: 5%; margin-left: auto;">
  <button class="ui right floated teal large button" style="margin-left: auto; margin-right: 0%;" {{action "add" @model.section.id}} >
    <i class="icon add"></i>
    AJouter un produit
  </button>
</div>
{{outlet "addProduct"}}
<div class="ui huge aligned celled list" style="margin: 0% 10% 5% 10%">
  {{#each @model.section.products as |product|}}
      <div class="item">
        <div class="right floated content">
          <div class="ui blue button" {{action "transtionto" product.id}}> Modifier
            <i class="edit alternate icon"></i>
          </div>
          <div class="ui negative button" {{action "delete" product}}> Supprimer
            <i class="trash alternate icon"></i>
          </div>
        </div>
        <div class="content">
          {{product.name}}
        </div>
      </div>
      {{outlet product.id}}
    {{/each}}
</div>
{{outlet}}

        <!-- <LinkTo @route="section.edit" @model={{product.id}}>
          <div class="ui bottom attached  blue button">
            Voir la section
          </div>
        </LinkTo> -->
