{{page-title "Index"}}
<div class="ui inverted large menu" style="margin: 0%; border-radius: 0px; padding: 0px;">
  <a class="teal item" style="height: 101%; font-size: 113.333%;font-weight: 600; border-radius: 0px;" {{action "board"}}>
    <i class="icon home"></i>
    Accueil
  </a>

  <a class="active teal item" style="height: 101%; font-size: 113.333%;font-weight: 600;" {{action "section" @model.section}}>
    <img style="height: 60%; width: 20px;opacity: 0.9; margin: 0.0em 0.35em 0em 0em;" src="https://img.icons8.com/pastel-glyph/64/ffffff/shop--v1.png/">
      Magasin
  </a>

  <a class="active olive right item" style=" padding: 0%;height: 96%; font-size: 113.333%;font-weight: 600; width: 10%;">
    <div class="ui simple dropdown item" style="height: 100%; width: 100%;font-size: 113.333%;font-weight: 600;">
      <i class="icon user outline"></i>
      {{model.employee.name}}
      <i class="dropdown icon" style="margin-left: auto;margin-right: 0;"></i>
      <div class="compact menu" style="margin: 0%; border-radius: 0px; padding: 0px;">
        <div class="header" style="font-weight: 600;">Profile</div>
        <a class="item" {{action "logout"}}>
          <i class="icon sign-out"></i>
          Deconnexion
        </a>
      </div>
    </div>
  </a>
</div>

<div class="test ui sizer vertical segment" style="margin-top: 70px; margin-left: 2%; margin-bottom: 2%; margin-right: 2%;">
  <div class="ui huge header" style="margin: 0% 1%;">
    Sections

    <button class="ui right floated teal large button" {{action "addSection"}} >
      <i class="icon add"></i>
      Ajouter une section
    </button>

    <button class="ui right floated blue large button" {{action "addProduit"}} >
      <i class="icon add"></i>
      Ajouter un produit
    </button>
  </div>
</div>
<div class="test ui sizer vertical segment" style="margin-top: 30px; margin-left: 2%; margin-right: 2%;">
  {{outlet "addSection"}}
  {{outlet "addProduct"}}
</div>


<div class="ui grid">
  <div class="commande-div">
      {{#each @model.sections as |section|}}
            <div class="carte-div ui card" style="width: 300px;">
              <div class="content">
                <div class="ui grid"  style="vertical-align: baseline;">
                  <div class="fiveteen wide column" style="width: auto;">
                    <div class="ui  header">
                      {{section.name}}
                    </div>
                  </div>
                  <div class="right floated aligned one wide column" style="padding-right: 50px;">
                    <button class="circular ui negative icon button" {{action "deleteSection" section}}>
                      <i class="trash alternate icon"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="content">
                <h4 class="ui sub header">Description</h4>
                <div class="ui small feed">
                  <div class="event">
                    {{section.description}}
                  </div>
                </div>
              </div>

              <LinkTo @route="section.edit" @model={{section.id}}>
                <div class="ui bottom attached  blue button">
                  Voir la section
                </div>
              </LinkTo>
            </div>
      {{/each}}
  </div>
</div>
{{outlet}}
