{{page-title "Index"}}
<h1> TEST</h1>

<div class="ui fixed inverted menu">

  <button class="ui yellow button" {{action "logout"}} > Logout </button>

  <p class="ui label">
    <img class="ui avatar image" src="https://img.icons8.com/pastel-glyph/344/person-male--v1.png%22%3E">
    {{model.employee.name}}
  </p>

  <div style="margin-right: 1%;margin-left: auto;" >
    <button class="ui green button" {{action "board"}}> Tableau de bord </button>
  </div>
</div>

<div class="test ui sizer vertical segment" style="margin-top: 70px; margin-left: 2%; margin-bottom: 2%; margin-right: 2%;">
  <div class="ui huge header" style="margin: 0% 1%;">
    Sections

    <button class="ui right floated teal large button" {{action "addSection"}} >
      <i class="icon add"></i>
      Ajouter une section
    </button>

    <button class="ui right floated blue large button" {{action "addProduit"}} >
      <i class="icon add"></i>
      Ajouter un produit
    </button>
  </div>
</div>


<div class="ui grid">
  <div class="commande-div">
      {{#each @model.sections as |section|}}
            <div class="carte-div ui card" style="width: 300px;">
              <div class="content">
                <div class="ui grid"  style="vertical-align: baseline;">
                  <div class="fiveteen wide column" style="width: auto;">
                    <div class="ui  header">
                      {{section.name}}
                    </div>
                  </div>
                  <div class="right floated aligned one wide column" style="padding-right: 50px;">
                    <button class="circular ui negative icon button" {{action "deleteSection" section}}>
                      <i class="trash alternate icon"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="content">
                <h4 class="ui sub header">Description</h4>
                <div class="ui small feed">
                  <div class="event">
                    {{section.description}}
                  </div>
                </div>
              </div>

              <LinkTo @route="section.edit" @model={{section.id}}>
                <div class="ui bottom attached  blue button">
                  Voir la section
                </div>
              </LinkTo>
            </div>
      {{/each}}
  </div>
</div>
{{outlet}}
