{{page-title "AddProduct"}}
<h1 style="margin-left: 10%; margin-bottom: 2%;">  </h1>
<form {{action "ajouterProduit" @model on="submit"}} class="ui form" style=" margin: 2% auto ;border: 2px solid #009c95; border-radius: 20px; width: 70%; padding-left: 3%; padding-bottom: 1%">
  <legend style=" width: auto;position: relative;  top: -1em;  margin-left: 1em;  display: inline; background-color: white; padding: 0 2%"> Créer un nouveau produit </legend>

  <div class="fields">
    <div class="six wide field">
      <label>Nom du produit</label>
      <Input type="text" placeholder="Nom" @value={{@model.product.name}}/>
    </div>
  </div>

  <div class="field" style="margin: 1% 11% 1% 0%">
    <label> Section </label>
    <UiDropdown class="ui search selection dropdown" @selected={{@model.sectionSelected}} @onChange={{fn (mut @model.sectionSelected)}} as |execute mapper|>
      <div class="default text">Section</div>
      <i class="dropdown icon"></i>
      <div class="menu" style="height: auto;">
        {{#each @model.sections as |section|}}
          <div data-value="{{map-value mapper section}}" class="item">
            {{section.name}} {{section.products.length}}
          </div>
        {{/each}}
      </div>
    </UiDropdown>
  </div>

  <div class="field" style="margin-top: 1% ;width: 10%; height: 4em; margin-bottom: 5%">
    <label>Prix</label>
    <Input type="number" style="height: 100%;-webkit-appearance: none;-moz-appearance: textfield;" placeholder="Prix" @value={{@model.product.price}}/>
  </div>

  <div class="field" style="margin-right: 11%;">
    <label>Description</label>
    <Textarea rows="3" @value={{@model.product.comments}}/>
  </div>


  <button type="submit" class="ui green button"> Ajouter le produit </button>
  <button class="ui negative button" {{action "annuler"}}> Annuler </button>
</form>
{{outlet}}
