{{page-title "Add"}}

<form {{action "addSection" @model on="submit"}} class="ui form" style="margin: 2% auto ;border: 2px solid #009c95; border-radius: 20px; width: 70%; padding-left: 3%; padding-bottom: 1%">
  <legend style=" width: auto;position: relative;  top: -1em;  margin-left: 1em;  display: inline; background-color: white; padding: 0 2%"> Créer une nouvelle section </legend>
  <div class="fields">
    <div class="six wide field">
      <label>Nom de la section</label>
      <Input type="text" placeholder="Nom" @value={{@model.name}}/>
    </div>
  </div>

  <div class="field" style="margin-right: 11%;">
    <label>Description de la section</label>
    <Textarea rows="4" @value={{@model.description}}/>
  </div>
  <button type="submit" class="ui green button"> Créer la section </button>
  <button class="ui negative button" {{action "annuler"}}> Annuler </button>
</form>
{{outlet}}
