{{page-title "Board"}}
<div class="ui fixed huge inverted menu" style="menu">

  <button class="ui yellow button" {{action "logout"}} > Logout </button>

  <p class="ui label">
    <img class="ui avatar image" src="https://img.icons8.com/pastel-glyph/344/person-male--v1.png">
    {{model.employee.name}}
  </p>

  <div style="margin-right: 1%;margin-left: auto;" >
    <button class="ui green button" {{action "section"}}> Gérer le stock </button>
  </div>
</div>

<div class="test ui sizer vertical segment" style="margin-top: 70px; margin-left: 2%; margin-bottom: 2%;">
  <div class="ui huge header"> Commandes </div>
</div>

<div class="ui grid">
  <div class="commande-div">
      {{#each @model.orders as |order|}}
            <div class="carte-div ui card">
              <div class="content">
                <div class="header">Commande {{order.id}}</div>
              </div>
              <div class="content">

                <h4 class="ui sub header">Date</h4>
                <div class="ui small feed">
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                        {{order.dateCreation}}
                      </div>
                    </div>
                  </div>
                </div>

                <h4 class="ui sub header">Nombre de produit</h4>
                <div class="ui small feed">
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                        {{order.itemsNumber}}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <LinkTo @route="order" @model={{order.id}}>
                <div class="ui bottom attached  blue button">
                  Voir la commande
                </div>
              </LinkTo>
            </div>
      {{/each}}
  </div>
</div>

{{outlet}}
