{{page-title "Order"}}
<h1> COMMANDE </h1>

<ul>
    <li>{{@model.order.dateCreation}}
     {{#each @model.order.orderdetails as |orderdetail|}}
        {{orderdetail.quantity}}
        {{orderdetail.product.name}}
     {{/each}}
    </li>

</ul>
{{outlet}}
